:global(.ant-picker-dropdown)
    :global(.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner:before) {
    border-color: var(--primary-light-6);
}

:global(.ant-picker-dropdown)
    :global(.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner),
:global(.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner),
:global(.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner) {
    background-color: var(--primary-light-6);
}

:global(.ant-picker-header-view button:hover),
:global(.ant-picker-today-btn) {
    color: var(--primary-light-6);
}
