:global(.ant-checkbox-checked) :global(.ant-checkbox-inner),
:global(.ant-checkbox:hover) :global(.ant-checkbox-inner),
:global(.ant-checkbox-checked:hover) :global(.ant-checkbox-inner),
:global(.ant-checkbox-checked:after),
:global(.ant-checkbox-input:focus) + :global(.ant-checkbox-inner),
:global(.ant-input):hover,
:global(.ant-input):focus,
:global(.ant-input-number):hover,
:global(.ant-input-number):focus,
:global(.ant-input-number-focused),
:global(.ant-picker):hover,
:global(.ant-picker-focused) {
    border-color: var(--primary-light-6);
}

:global(.ant-picker-focused) {
    box-shadow: var(--input-shadow);
}

:global(.ant-checkbox-checked) :global(.ant-checkbox-inner) {
    background-color: var(--primary-light-6);
}

:global(
        .ant-input[type='email']:not(.ant-input-disabled):not(.ant-input-borderless):not(
                .ant-input-status-error
            )
    ) {
    &:hover,
    &:focus {
        border-color: var(--primary-light-5);
        box-shadow: var(--input-shadow);
    }
}

:global(.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled)) {
    &:hover {
        border-color: var(--primary-light-5);
    }

    &:focus {
        border-color: var(--primary-light-5);
        box-shadow: var(--input-shadow);
    }
}

:global(.ant-input-affix-wrapper-focused),
:global(.ant-input-affix-wrapper-status-success):has(:global(.anticon-eye)) {
    border-color: var(--primary-light-5);
    box-shadow: var(--input-shadow);
}

:global(.ant-input-affix-wrapper-status-success) :global(.anticon-eye) {
    color: var(--primary-light-6);
}
