:global(.ant-modal) {
    box-shadow: var(--shadow-md);
}

:global(.ant-modal-close-x) {
    width: var(--modal-close-icon-wh);
    height: var(--modal-close-icon-wh);
}

:global(.ant-modal-mask) {
    backdrop-filter: blur(var(--blur-value));
    background-color: var(--blue-1);
}

:global(.ant-modal-body) {
    padding: 0;
}

@media screen and (max-width: 767px) {
    :global(.ant-modal) {
        max-width: calc(100vw - var(--modal-lr-offset));
    }

    :global(.ant-modal-close-x) {
        width: var(--modal-close-icon-tablet-wh);
        height: var(--modal-close-icon-tablet-wh);
    }
}
