:global(.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected) {
    background-color: var(--primary-light-1);
}

:global(.ant-menu-light .ant-menu-item:hover),
:global(.ant-menu-item-selected) {
    color: var(--primary-light-5);
}

:global(.ant-menu.ant-menu-inline-collapsed) > :global(.ant-menu-item .ant-menu-item-icon),
:global(.ant-menu.ant-menu-inline-collapsed) > :global(.ant-menu-item .anticon) {
    line-height: var(--line-height);
}
