:global(.ant-pagination-prev:hover .ant-pagination-item-link),
:global(.ant-pagination-next:hover .ant-pagination-item-link),
:global(.ant-pagination-item-active a),
:global(.ant-pagination-item-active:hover a),
:global(.ant-pagination-item:hover a) {
    color: var(--primary-light-6);
}

:global(.ant-pagination-item-active),
:global(.ant-pagination-item-active:hover) {
    border-color: var(--primary-light-6);
}

:global(.ant-pagination.ant-pagination-mini .ant-pagination-item),
:global(.ant-pagination.ant-pagination-mini .ant-pagination-prev),
:global(.ant-pagination.ant-pagination-mini .ant-pagination-next) {
    min-width: var(--mw-pagination-item);
    height: var(--h-pagination-item);
    margin: var(--m-pagination-item);
    line-height: var(--line-height-18);
}

:global(.ant-pagination-item a) {
    line-height: inherit;
}

:global(.ant-pagination-prev .ant-pagination-item-link),
:global(.ant-pagination-next .ant-pagination-item-link) {
    display: flex;
    justify-content: center;
    align-items: center;
}
