:global(.ant-rate),
:global(.ant-rate-star) {
    line-height: var(--line-height);
}

:global(.ant-rate) {
    color: var(--character-light-warning);
}

:global(.ant-rate-star:not(:last-child)) {
    margin-right: var(--mr-rate-item);
}
