:global(.ant-result-500) {
    padding: var(--p-result-500);
}

:global(.ant-result-error) {
    padding: var(--p-result-error);
}

:global(.ant-result) :global(.ant-result-icon) {
    padding: var(--p-ant-result-icon);
}

@media screen and (max-width: 767px) {
    :global(.ant-result-500) :global(.ant-result-subtitle) {
        padding: var(--p-ant-result-subtitle);
    }

    :global(.ant-result-error) :global(.ant-result-subtitle) {
        white-space: nowrap;
    }
}

@media screen and (max-width: 450px) {
    :global(.ant-result-error) {
        padding: var(--p-result-error-mobile-l);
    }
}
