.checkArea:global(.ant-form-item) :global(.ant-form-item-control-input) {
    min-height: fit-content;
}

.checkArea:global(.ant-form-item) :global(.ant-form-item-control-input-content) {
    display: flex;
    justify-content: space-between;
}

.forgotPasswordBtn:global(.ant-btn) {
    padding: var(--p-auth-form-forgot-btn);
}

@media screen and (max-width: 450px) {
    .forgotPasswordBtn:global(.ant-btn) {
        font-size: 14px;
    }

    .forgotPasswordBtn:global(.ant-btn) {
        padding: var(--p-auth-form-forgot-btn-mobile-l);
    }
}
