.trainingText,
.sort:global(.ant-btn.ant-btn-text) {
    padding: 7px 8px;
    background-color: var(--character-light-dividers);
}

.trainingText:global(.ant-typography) {
    flex-basis: 259px;
    font-size: var(--text-xs);
    white-space: nowrap;
}

.sortWrapper {
    flex-shrink: 0;
    flex-basis: calc(555px - 259px - 12px);
}

.sort:global(.ant-btn.ant-btn-text) {
    width: 240px;
    height: fit-content;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
}

.sort:global(.ant-btn.ant-btn-text):hover,
.sort:global(.ant-btn.ant-btn-text):focus {
    background-color: var(--character-light-dividers);
}

.sortText:global(.ant-typography) {
    font-weight: var(--font-medium);
}

.icon:global(.anticon) {
    max-height: 8px;
    font-size: var(--text-xs);
}

@media screen and (max-width: 450px) {
    .trainingText,
    .sort:global(.ant-btn.ant-btn-text) {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .trainingText {
        min-width: 114px;
    }

    .sortWrapper {
        flex-basis: 0;
    }

    .sort:global(.ant-btn.ant-btn-text) {
        width: 188px;
    }

    .sortText:global(.ant-typography) {
        font-weight: var(--font-normal);
        font-size: var(--text-xs);
    }
}
