.space:global(.ant-space) {
    width: 100%;
}

.title:global(.ant-typography) {
    margin: var(--m-header-title);
    white-space: pre-line;
}

.breadcrumb:global(.ant-breadcrumb) {
    margin-bottom: var(--mb-breadcrumb);
}

.space :global(.ant-space-item:first-child) {
    flex-grow: 1;
}

.btn:global(.ant-btn) {
    padding-top: var(--pt-header-btn);
    padding-bottom: var(--pb-header-btn);
}

.btn:global(.ant-btn) > .btnIcon + span {
    margin-left: var(--ml-header-btn-content);
}

@media screen and (max-width: 834px) {
    .title:global(.ant-typography) {
        font-size: 24px;
        font-weight: 500;
    }

    .btnIcon:global(.anticon) {
        display: none;
    }

    .btn:global(.ant-btn) {
        padding-left: var(--pl-header-btn-tablet-lg);
    }

    .btn:global(.ant-btn) > .btnIcon + span {
        margin-left: var(--ml-header-btn-content-tablet-lg);
    }
}

@media screen and (max-width: 768px) {
    .breadcrumb:global(.ant-breadcrumb) {
        margin-bottom: var(--mb-breadcrumb-tablet);
    }

    .title:global(.ant-typography) {
        font-size: 20px;
    }

    .btn:global(.ant-btn) {
        width: 32px;
        height: 32px;
        padding: var(--p-header-btn-tablet);
        border: 1px solid var(--character-light-border);
        border-radius: 100px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    }

    .btn:global(.ant-btn) > .btnIcon + span {
        display: none;
    }

    .btnIcon:global(.anticon) {
        display: inline;
    }
}
