.space {
    max-width: 752px;
    margin: var(--m-main-page-content-space);
}

.card {
    white-space: pre-line;
}

.benefitsText:global(.ant-typography) {
    font-size: 1rem;
    color: var(--primary-light-9);
}

.taglineText:global(.ant-typography) {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .card :global(.ant-card-body) {
        padding: var(--p-main-page-content-card-body);
    }
}
