.details {
    position: relative;
}

.linkBtn:global(.ant-btn) {
    width: fit-content;
    padding: var(--p-workouts-training-details-link-btn);
}

.card:global(.ant-card) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-5);
    width: var(--w-workouts-training-details-card);
    height: fit-content;
    padding: var(--p-workouts-training-details-card);
    box-shadow: var(--shadow-md);
}

.card:global(.ant-card) :global(.ant-card-head) {
    padding: var(--p-workouts-training-details-card-head);
}

.card:global(.ant-card) :global(.ant-card-body) {
    padding: var(--p-workouts-training-details-card-body);
}

.btn:global(.ant-btn) {
    width: fit-content;
    height: fit-content;
    padding: var(--p-workouts-training-details-btn);
    border: var(--border-none);
}

.dates {
    margin-bottom: var(--mb-workouts-training-details-dates);
}

.humanizedDate:global(.ant-typography) {
    font-size: var(--text-base);
    font-weight: var(--font-medium);
}

.exerciseName:global(.ant-typography) {
    color: var(--character-light-secondary-45);
}

.humanizedDate:global(.ant-typography),
.exerciseName:global(.ant-typography) {
    margin: var(--m-workouts-training-details-paragraphs);
}

.exerciseName:global(.ant-typography)::first-letter {
    text-transform: uppercase;
}

.date:global(.ant-typography) {
    letter-spacing: var(--date-letter-spacing);
}

.exerciseParams:global(.ant-typography) {
    font-size: var(--text-xs);
    color: var(--primary-light-6);
}

@media screen and (max-width: 835px) {
    .card:global(.ant-card) {
        transform: translateY(-100%);
    }
}

@media screen and (max-width: 575px) {
    .card:global(.ant-card) {
        width: var(--w-workouts-training-details-card-mobile-l);
        left: var(--workouts-training-details-card-left);
    }
}
