.input:global(.ant-input),
.input :global(.ant-input),
.input:global(.ant-input-number) {
    flex-grow: 1;
    line-height: var(--line-height-24);
}

.input :global(.ant-input-number-group-addon) {
    padding: var(--p-exercise-input);
    font-size: var(--text-8);
}

.x {
    padding: var(--p-exercise-x);
    line-height: var(--line-height-24);
}

.xRow {
    height: 100%;
}

.text:global(.ant-typography) {
    width: 100%;
    padding: var(--p-exercise-text);
    font-size: var(--text-xs);
    background-color: var(--character-light-dividers);
}
