.btnsWrapper {
    padding: var(--p-exercises-form-btns-wrapper);
}

.btnsWrapperEditMode {
    padding: var(--p-exercises-form-btns-wrapper-edit-mode);
}

.btnsWrapper,
.btnsWrapperEditMode {
    border-radius: var(--rounded-bottom-6);
    background-color: var(--character-light-dividers);
}

.btn:global(.ant-btn) {
    height: fit-content;
    padding: var(--p-exercises-form-btn);
    font-size: var(--text-sm);
    text-align: start;
}

.btnsWrapper .btn:global(.ant-btn.ant-btn-text):hover,
.btnsWrapper .btn:global(.ant-btn.ant-btn-text):focus,
.btnsWrapperEditMode .btn:global(.ant-btn.ant-btn-text):hover,
.btnsWrapperEditMode .btn:global(.ant-btn.ant-btn-text):focus {
    background-color: inherit;
}
