.table {
    max-width: 555px;
    margin-bottom: 30px;
}

@media screen and (max-width: 835px) {
    .table {
        max-width: 530px;
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        padding: 0 12px;
    }

    .table {
        margin-bottom: 0;
    }
}
