.table {
    max-width: var(--mw-workouts-trainings-table);
    margin-bottom: var(--mb-workouts-trainings-table);
}

@media screen and (max-width: 835px) {
    .table {
        max-width: var(--mw-workouts-trainings-table-tablet-l);
    }
}

@media screen and (max-width: 450px) {
    .wrapper {
        padding: var(--p-workouts-trainings-table-wrapper-mobile);
    }

    .table {
        margin-bottom: var(--mb-workouts-trainings-table-mobile);
    }
}
