.modal {
    position: absolute;
    z-index: 5;
    width: 264px;
    cursor: auto;
}

.card:global(.ant-card) {
    box-shadow: var(--shadow-md);
}

.card :global(.ant-card-body) {
    padding: 0;
    min-height: 136px;
}

.card :global(.ant-card-actions) {
    padding: 0 12px;
}

.cardHead {
    padding: 16px 12px;
}

.trainings {
    padding: 16px 0;
}

.title:global(.ant-typography) {
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
}

.date {
    letter-spacing: var(--date-letter-spacing);
}

.subtitle {
    font-size: var(--text-sm);
}

.iconBtn:global(.ant-btn) {
    width: 20px;
    height: 20px;
}

.actionBtn:global(.ant-btn) {
    font-size: var(--text-sm);
}

.cardTitleWrapper {
    padding-right: 12px;
    padding-left: 8px;
}

.select:global(.ant-select) {
    flex-grow: 1;
    padding: 12.5px 0;
    text-align: start;
}

.select:not(.ant-select-customize-input) :global(.ant-select-selector) {
    padding: 0 12px;
    border-color: transparent;
}

.select :global(.ant-select-selector .ant-select-selection-item) {
    line-height: 26px;
}

.select:global(.ant-select-show-arrow .ant-select-selection-item) {
    padding-right: 36px;
}

.exercisesWrapper {
    max-height: 200px;
    margin: 16px 0;
    padding: 0 12px;
    text-align: start;
    overflow-y: auto;
}

.exercise {
    color: var(--character-light-secondary-45);
}

.trainingWrapper,
.exercisesWrapper {
    padding: 2px 12px;
    width: 100%;
    transition: var(--duration-3);
}

.trainingWrapper:hover {
    background-color: var(--character-light-background);
}

.editBtn:global(.ant-btn) {
    width: fit-content;
    height: fit-content;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.editBtn:global(.ant-btn:not([disabled])) {
    color: var(--primary-light-6);
}

.editBtn:global(.ant-btn):hover {
    background-color: transparent;
}

.modalOkBtn {
    height: 40px;
}

.badgeDisabled :global(.ant-badge-status-text) {
    color: var(--character-light-disable-25);
}

@media screen and (max-width: 480px) {
    .modal {
        width: 100%;
    }
}
