.wrapper {
  width: 100%;
  padding-bottom: 6px;
}

.badge:global(.ant-badge) {
    display: flex;
    align-items: center;
}

.badge :global(.ant-badge-status-dot) {
  top: 0;
}

@media screen and (max-width: 575px) {
  .wrapper {
    padding-bottom: 22px;
  }
}
