.listContainer,
.listContainerFull {
    min-height: 100%;
}

.list:global(.ant-list-grid) :global(.ant-list-item) {
    margin-bottom: 20px;
}

.listContainerFull :global(.ant-spin-nested-loading) {
    overflow-y: hidden;
    scrollbar-width: none;
}

.btn:global(.ant-btn) {
    font-size: var(--text-sm);
}

@media screen and (max-width: 575px) {
    .list:global(.ant-list-grid) :global(.ant-list-item) {
        margin-bottom: 16px;
    }
}
