.loadChartWrapper {
    padding: 16px 0;
    border: var(--border-1) solid var(--character-light-dividers);
    border-radius: var(--rounded-2);
    overflow: hidden;
}

.chart {
    margin: 0 auto;
}

.chartWeek {
    width: fit-content;
}

.text:global(.ant-typography) {
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 835px) {
    .loadChartWrapper {
        margin-right: 10px;
    }

    .text:global(.ant-typography) {
        margin-left: 30px;
    }
}

@media screen and (max-width: 830px) and (min-width: 768px) {
    .chart canvas {
        width: 460px !important;
    }
}

@media screen and (max-width: 575px) {
    .loadChartWrapper {
        padding: 10px 0;
        margin: 0;
    }

    .text:global(.ant-typography) {
        font-size: 9px;
    }
}
