.space:global(.ant-space) {
    flex: auto;
    justify-content: center;
}

.space :global(.ant-space-item) {
    width: 100%;
    max-width: 540px;
}

.card:global(.ant-card) {
    padding: var(--p-auth-card);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.card :global(.ant-card-head) {
    margin-bottom: var(--mb-auth-card-head);
    border-bottom: none;
}

.card :global(.ant-card-body) {
    margin: var(--m-auth-card-body);
    padding: var(--p-auth-card-body);
}

.card :global(.ant-image) {
    width: 100%;
}

.logo:global(.ant-image-img) {
    padding: var(--p-auth-logo);
    margin-bottom: var(--mb-auth-logo);
}

.tabs:global(.ant-tabs) :global(.ant-tabs-nav) {
    margin-bottom: var(--mb-auth-tabs);
}

.tabs :global(.ant-tabs-nav-list) {
    width: 100%;
}

.tabs:global(.ant-tabs):global(.ant-tabs-large) :global(.ant-tabs-tab) {
    justify-content: center;
    flex: 1;
    margin: var(--m-auth-tab);
    padding: var(--p-auth-tab);
}

.tabs :global(.ant-tabs-ink-bar) {
    background: var(--primary-light-6);
}

.tabs:global(.ant-tabs) :global(.ant-tabs-tab-btn) {
    flex: 1;
}

.tabs:global(.ant-tabs) :global(.ant-tabs-tab-active) :global(.ant-tabs-tab-btn) {
    color: var(--primary-light-6);
    text-shadow: none;
}

.tabs :global(.ant-tab-btn) {
    height: fit-content;
}

.link {
    display: inline-block;
    width: 100%;
    padding: var(--p-auth-link);
    color: inherit;
    text-align: center;
}

@media screen and (max-width: 834px) {
    .space {
        margin-bottom: var(--mb-auth-space-tablet-l);
    }
}

@media screen and (max-width: 450px) {
    .space {
        margin-bottom: var(--mb-auth-space-mobile-l);
    }

    .card:global(.ant-card) {
        margin: var(--m-auth-card-mobile-l);
        padding: var(--p-auth-card-mobile-l);
    }

    .card :global(.ant-card-body) {
        margin: var(--m-auth-card-body-mobile-l);
    }

    .logo:global(.ant-image-img) {
        padding: var(--p-auth-logo-mobile-l);
        margin-bottom: var(--mb-auth-logo-mobile-l);
    }

    .tabs:global(.ant-tabs) :global(.ant-tabs-nav) :global(.ant-tabs-tab) {
        font-size: 14px;
    }

    .link {
        padding: var(--p-auth-link-mobile-l);
    }
}
