.row:global(.ant-row) {
    margin-top: var(--mt-header-settings-row);
}

.btn:global(.ant-btn) {
    flex-shrink: 0;
    padding-top: var(--pt-header-btn);
    padding-bottom: var(--pb-header-btn);
}

.btn:global(.ant-btn) > .btnIcon + span {
    margin-left: var(--ml-header-btn-content);
}

@media screen and (max-width: 834px) {
    .btnIconNone:global(.anticon) {
        display: none;
    }

    .btn:global(.ant-btn) > .btnIconNone + span {
        margin-left: var(--ml-header-btn-content-tablet-lg);
    }
}

@media screen and (max-width: 768px) {
    .row:global(.ant-row) {
        margin-top: var(--mt-header-settings-row-tablet);
    }

    .btn:global(.ant-btn) {
        width: var(--header-btn-w-tablet);
        height: var(--header-btn-h-tablet);
        padding: var(--p-header-btn-tablet);
        border-radius: 50%;
    }

    .btnWithBackground:global(.ant-btn) {
        background-color: var(--character-light-primary-inverse);
        border: var(--border-1) solid var(--character-light-border);
        box-shadow: var(--shadow);
    }

    .btn:global(.ant-btn) > .btnIcon + span {
        display: none;
    }

    .btnIcon:global(.anticon) {
        display: inline;
    }
}
