.wrapper {
    margin-top: var(--mt-workouts-training-pals-wrapper);
}

.title:global(.ant-typography) {
    margin: var(--m-workouts-training-pals-title);
    font-weight: var(--font-medium);
}

.text:global(.ant-typography) {
    color: var(--character-light-secondary-45);
}
