.ant-space .ant-space-item,
.ant-space-item .ant-card,
.ant-card .ant-card-head {
    color: inherit;
}

.ant-card .ant-card-head {
    padding: 0;
    font-weight: 400;
}

.ant-card-head .ant-card-head-wrapper {
    padding: 12px 24px;
}

.ant-card-head .ant-card-head-wrapper .ant-card-head-title {
    padding: 0;
    text-align: center;
}

.ant-col-8 .ant-card-body {
    padding: 12px 0;
}

.ant-card-body .anticon-calendar svg path:first-child {
    fill: var(--primary-light-6);
}

.ant-card-body .anticon-idcard svg path:nth-child(2) {
    fill: transparent;
}

.ant-card-body .anticon-idcard svg path:nth-child(3) {
    fill: var(--primary-light-6);
}

@media screen and (max-width: 834px) {
    .ant-card-head .ant-card-head-wrapper .ant-card-head-title {
        text-align: start;
        white-space: wrap;
    }
}

@media screen and (max-width: 768px) {
    .ant-card-head .ant-card-head-wrapper .ant-card-head-title {
        text-align: center;
    }

    .ant-space-vertical .ant-row {
        flex-direction: column;
        row-gap: 8px;
    }

    .ant-space-vertical .ant-row .ant-col {
        max-width: 100%;
    }
}
