.card:global(.ant-card) {
    position: absolute;
    z-index: 5;
    width: 264px;
    box-shadow: var(--shadow-md);
    cursor: auto;
}

.card :global(.ant-card-body),
.card :global(.ant-card-actions) {
    padding: 0 12px;
}

.cardHead {
    padding: 16px 0;
}

.title:global(.ant-typography) {
    font-size: var(--text-sm);
    font-weight: var(--font-bold);
}

.date {
    letter-spacing: var(--date-letter-spacing);
}

.subtitle {
    font-size: var(--text-sm);
}

.iconBtn:global(.ant-btn) {
    width: 20px;
    height: 20px;
}

.actionBtn:global(.ant-btn) {
    font-size: var(--text-sm);
}

.cardTitleWrapper {
    padding-right: 12px;
    padding-left: 8px;
}

.select:global(.ant-select) {
    flex-grow: 1;
    padding: 12.5px 0;
    text-align: start;
}

.select:not(.ant-select-customize-input) :global(.ant-select-selector) {
    padding: 0 12px;
    border-color: transparent;
}

.select :global(.ant-select-selector .ant-select-selection-item) {
    line-height: 26px;
}

.select:global(.ant-select-show-arrow .ant-select-selection-item) {
    padding-right: 36px;
}

@media screen and (max-width: 480px) {
    .card:global(.ant-card) {
        width: 100%;
    }
}
