.title:global(.ant-typography) {
    margin: var(--m-header-title);
    white-space: pre-line;
}

@media screen and (max-width: 834px) {
    .title:global(.ant-typography) {
        font-size: var(--text-2xl);
        font-weight: var(--font-medium);
    }
}

@media screen and (max-width: 768px) {
    .title:global(.ant-typography) {
        font-size: var(--text-xl);
    }
}
