.space:global(.ant-space) {
    width: 100%;
    justify-content: center;
}

.space :global(.ant-space-item) {
    text-align: center;
}

.title:global(.ant-typography) {
    margin-bottom: var(--mb-result-card-title);
}

.title:global(.ant-typography),
.text:global(.ant-typography) {
    white-space: pre-wrap;
}

.card:global(.ant-card),
.cardBreakpoint:global(.ant-card) {
    padding: var(--p-64-32-56);
}

.card :global(.ant-card-body) {
    margin: var(--m-result-card-body);
}

@media screen and (max-width: 450px) {
    .cardBreakpoint:global(.ant-card) {
        padding: var(--p-auth-card-mobile-l);
    }
}
