.mainContent:global(.ant-layout-content) {
    padding-bottom: 0;
}

@media screen and (max-width: 575px) {
    .mainContent:global(.ant-layout-content) {
        padding-left: 0;
        padding-right: 0;
    }
}
