.mainContent:global(.ant-layout-content) {
    padding-bottom: var(--pb-common-main-content);
}

@media screen and (max-width: 575px) {
    .mainContent:global(.ant-layout-content) {
        padding-right: var(--px-common-main-content-mobile-l);
        padding-left: var(--px-common-main-content-mobile-l);
    }
}
