.shadowBox {
    position: absolute;
    top: 50%;
    right: 1px;
    filter: drop-shadow(2px 0 2px rgba(0, 0, 0, 0.15));
    transform: translate(100%, -50%);
    z-index: 10;
}

.polygon {
    background-color: var(--character-light-primary-inverse);
    clip-path: polygon(0 0, 0 0, 100% 13%, 100% 87%, 0 100%, 0 100%, 0% 80%, 0% 20%);
}

.trigger {
    padding: 26px 3px;
}

@media screen and (max-width: 479px) {
    .shadowBox {
        top: 24px;
        transform: translate(100%, 0);
    }

    .trigger {
        padding: 17px 9px;
    }
}
