.ant-layout.ant-layout-has-sider {
    background: center / cover no-repeat url('/png/main-page-light.png');
}

.ant-layout-sider > .ant-layout-sider-children {
    position: relative;
    display: flex;
    flex-direction: column;
}
