:root {
    --m-logo: 30px 0 50px;
    --m-logo-tablet: 0 0 16px;
    --mt-menu-item: 0;
    --mb-menu-item: 16px;
    --m-last-menu-item: 0;
    --m-menu-item-divider: auto 0 0;
    --ml-last-menu-item-title: 27px;
    --m-menu-item-tablet: 8px;
    --m-menu-item-title-tablet: 0;
    --ml-last-menu-item-title-tablet: 0;
    --m-app-layout: 0 auto;
    --mb-footer-space: 42px;
    --m-footer-card-meta: 0;
    --mr-footer-card-meta-detail: 25px;
    --mr-footer-card-meta-detail-tablet: 0;
    --m-header-title: 6px 0;
    --mb-breadcrumb: 8px;
    --ml-header-btn-content: 10px;
    --ml-header-btn-content-tablet-lg: 0;
    --mb-breadcrumb-tablet: 0;
    --m-main-page-content-space: 24px 0;

    --mb-auth-space-tablet-l: 52px;
    --mb-auth-space-mobile-l: 8px;
    --m-auth-card-mobile-l: 0 16px;
    --mb-auth-card-head: 0;
    --m-auth-card-body: 0 53px;
    --m-auth-card-body-mobile-l: 0;
    --mb-auth-logo: 48px;
    --mb-auth-logo-mobile-l: 32px;
    --m-login-form-group: 24px 0;
    --m-registartion-form-group: 32px 0;
    --m-registartion-form-group-mobile-l: 24px 0;
    --mb-auth-tabs: 0;
    --m-auth-tab: 0;
    --mb-login-form: calc(174px - var(--py-auth-card));
    --mb-login-form-mobile-l: calc(124px - var(--py-auth-card-mobile-l));
    --mb-auth-form-item-email: 32px;
    --mb-auth-form-login-btn: 16px;
    --mb-auth-form-item-last: 0;
    --ml-auth-form-btn-content-mobile-l: 0;
    --mb-auth-form-password-with-explain: 16px;
    --mb-auth-form-password-with-explain-mobile-l: 0;
}
