:root {
    --m-logo: 30px 0 50px;
    --m-logo-tablet: 0 0 16px;
    --mt-menu-item: 0;
    --mb-menu-item: 16px;
    --m-last-menu-item: 0;
    --m-menu-item-divider: auto 0 0;
    --ml-last-menu-item-title: 27px;
    --m-menu-item-tablet: 8px;
    --m-menu-item-title-tablet: 0;
    --ml-last-menu-item-title-tablet: 0;
    --m-app-layout: 0 auto;
    --mb-page-template-layout: 42px;
    --m-footer-card-meta: 0;
    --mr-footer-card-meta-detail: 25px;
    --mr-footer-card-meta-detail-tablet: 0;
    --m-header-title: 6px 0;
    --mt-header-settings-row: 8px;
    --ml-header-btn-content: 10px;
    --ml-header-btn-content-tablet-lg: 0;
    --mt-header-settings-row-tablet: 0;
    --mb-auth-space-tablet-l: 52px;
    --mb-auth-space-mobile-l: 8px;
    --m-auth-card-mobile-l: 0 16px;
    --mb-auth-card-head: 0;
    --m-auth-card-body: 0 53px;
    --m-auth-card-body-mobile-l: 0;
    --mb-auth-logo: 48px;
    --mb-auth-logo-mobile-l: 32px;
    --m-group-24: 24px 0;
    --m-group-32: 32px 0;
    --m-group-32-mobile: var(--m-group-24);
    --mb-auth-tabs: 0;
    --m-auth-tab: 0;
    --mb-login-form: calc(174px - var(--py-auth-card));
    --mb-login-form-mobile-l: calc(124px - var(--py-auth-card-mobile-l));
    --mb-auth-form-item-email: 32px;
    --mb-auth-form-login-btn: 16px;
    --mb-auth-form-item-last: 0;
    --ml-auth-form-btn-content-mobile-l: 0;
    --mb-auth-form-password-with-explain: 16px;
    --mb-auth-form-password-with-explain-mobile-l: 0;
    --m-verification-input-container: 0 auto;
    --mb-result-card-title: 0;
    --m-result-card-body: 0;
    --mb-empty-feedbacks-space: 18px;
    --mb-empty-feedbacks-subtitle: 0;
    --mb-empty-feedbacks-card-tablet: 26px;
    --mb-feedback-list-item: 20px;
    --mt-feedback-button-group: 100px;
    --mt-feedback-button-group-tablet: 22px;
    --mb-feedback-list-item-mobile-xl: 16px;
    --mr-feedback-card-avatar: 12px;
    --mb-feedback-title: 0;
    --mb-feedback-form: 16px;
    --mr-rate-item: 4px;
    --mt-calendar-mode-switch-mobile-l: 0;
    --ml-calendar-mode-switch-mobile-l: 8px;
    --m-training-modal-exercises-wrapper: 16px 0;
    --mb-side-panel-content-head: 16px;
    --mb-side-panel-content-body-header: 4px;
    --m-side-panel-title: 0;
    --m-divider-horizontal: 0;
    --ml-settings-header-icon: 14px;
    --ml-settings-header-icon-tablet: 16px;
    --mt-settings-content-btn-group: 72px;
    --mt-settings-content-btn-group-mobile-l: 0;
    --m-settings-content-switches-wrapper: 16px 0;
    --mb-settings-content-tariffs-title: 0;
    --mt-settings-content-tariffs-side-panel-pro-tariff-active-title: 40px;
    --m-settings-content-tariffs-side-panel-pro-tariff-active-title: 0;
    --mb-settings-content-modal-success-title: 0;
    --mt-settings-content-modal-success-result-extra-mobile: 20px;
    --ml-tariffs-side-panel-success-icon: 4px;
    --m-tariffs-side-panel-list: 0;
    --mb-tariffs-side-panel-list: 50px;
    --mt-tariffs-side-panel-tariff-selection-title: 12px;
    --mb-tariffs-side-panel-tariff-selection-title: 0;
    --mb-tariffs-side-panel-list-mobile-l: 20px;
    --m-tariffs-side-panel-tariff-selection-title-mobile-l: 0;
    --m-tariff-selection-form-radio-wrapper: 0;
    --ml-tariff-selection-form-radio: 48px;
    --m-profile-header-title: 6px 0;
    --m-profile-header-settings-row: 0;
    --mb-profile-header-settings-row-tablet-l: 4px;
    --mb-profile-header-settings-row-tablet: 0;
    --m-profile-content-title: 0;
    --mb-profile-content-privacy-title: 16px;
    --mb-profile-content-form-item: 0;
    --mr-profile-alert-icon: 12px;
    --mt-profile-upload-list-item: 0;
    --mb-profile-form-item-mobile-l: 0;
    --mb-profile-upload-text: 0;
    --ml-profile-upload-btn-text-mobile-l: 10px;
}
