:root {
    --p-86: 86px;
    --p-64: 64px;
    --p-56: 56px;
    --p-32: 32px;
    --p-24: 24px;
    --p-18: 18px;
    --p-16: 16px;
    --p-12: 12px;
    --p-8: 8px;
    --p-64-86: var(--p-64) var(--p-86);
    --p-64-32: var(--p-64) var(--p-32);
    --p-64-32-56: var(--p-64-32) var(--p-56);
    --p-32-16: var(--p-32) var(--p-16);
    --p-16-24: var(--p-16) var(--p-24);
    --p-12-24: var(--p-12) var(--p-24);
    --p-8-24: var(--p-8) var(--p-24);
    --p-logo: 14px 46px 17px 29px;
    --p-logo-cropped: 18px;
    --p-logo-tablet: var(--p-16) 17px;
    --p-menu-item-tablet: 0;
    --p-menu-item-title-content-tablet: 0 var(--p-8);
    --p-trigger: 26px 3px;
    --p-trigger-tablet: 17px 9px;
    --p-footer-card-body: 0;
    --p-footer-card-meta: var(--p-8-24);
    --p-feedbacks-nav-btn: 10px 15px;
    --p-footer-card-link-btn: 0;
    --p-footer-card-action-btn: 7px 11px;
    --pt-header-btn: 0;
    --pb-header-btn: var(--pt-header-btn);
    --pl-header-btn-tablet-lg: 7px;
    --p-header-btn-tablet: 0;
    --p-main-page-content-card-body: var(--p-16);
    --p-main-page-content-action-card-head-wrapper: var(--p-12-24);
    --p-main-page-content-action-card-body: var(--p-12) 0;
    --pt-main-page-content-action-card-btn-tablet-lg: 6px;
    --pb-main-page-content-action-card-btn-tablet-lg: var(
        --pt-main-page-content-action-card-btn-tablet-lg
    );
    --p-header: var(--p-16-24);
    --p-layout: var(--p-24);
    --p-footer: 0 var(--p-24);
    --px-layout-tablet: var(--p-16);
    --px-auth-card: var(--p-32);
    --py-auth-card: var(--p-64);
    --p-auth-card: var(--py-auth-card) var(--px-auth-card);
    --px-auth-card-mobile-l: var(--p-16);
    --py-auth-card-mobile-l: var(--p-32);
    --p-auth-card-mobile-l: var(--p-32-16);
    --p-auth-card-body: 0;
    --p-auth-logo: 0 calc(115px - var(--px-auth-card));
    --p-auth-logo-mobile-l: 0 calc(62.5px - var(--px-auth-card-mobile-l));
    --p-auth-tab: 0;
    --p-auth-link: 11px 0;
    --p-auth-link-mobile-l: 14px 0;
    --p-auth-input: 10px 12px;
    --p-auth-input-group-addon: 4px 12px;
    --pb-auth-form-item-password: 30px;
    --p-auth-form-forgot-btn: 0;
    --p-auth-form-forgot-btn-mobile-l: 0 7px;
    --p-result-button: 10px 15px;
    --p-confirm-email-space-item-mobile-l: 0 30px;
    --p-verification-container-mobile-l: 0 10px;
    --p-result-icon: 10px 5px;
    --p-result-500: var(--p-64-32-56);
    --p-feedback-result-success: var(--p-64-86);
    --p-feedback-result-success-mobile-l: var(--p-32-16);
    --p-result-error: var(--p-64-86);
    --p-result-error-mobile-l: var(--p-32-16);
    --px-empty-feedbacks-card: 0 var(--p-32);
    --py-empty-feedbacks-card: 56px;
    --py-empty-feedbacks-card-collapsed: 75.5px;
    --p-empty-feedback-card-body: 0;
    --py-empty-feedbacks-card-tablet: 48px;
    --p-create-feedback-modal: var(--p-24);
    --p-create-feedback-modal-tablet: var(--p-16);
    --p-feedback-card-padding: var(--p-16);
    --p-ant-result-icon: 4px 0;
    --p-ant-result-subtitle: 0 20px;
    --p-modal-body: 0;
    --pr-selection-item-mobile-l: var(--p-18);
    --p-select-selector-mobile-l: 0 var(--p-12);
    --p-picker-body: 0;
    --pb-calendar-th: 0;
    --p-picker-panel-mobile-l: 8px 5px;
    --p-picker-cell-mobile-l: 0;
    --p-training-card-body: 0;
    --p-training-card-actions: 0 var(--p-12);
    --p-training-card-body-head: var(--p-16) var(--p-12);
    --p-trainings: var(--p-16) 0;
    --pr-training-modal-card-title-wrapper: var(--p-12);
    --pl-training-modal-card-title-wrapper: var(--p-8);
    --p-training-modal-select: 12.5px 0;
    --p-training-modal-select-selector: 0 12px;
    --pr-training-modal-selection-item: 36px;
    --p-training-modal-exercises-wrapper: 0 12px;
    --p-training-modal-trainings-exercises-wrapper: 2px var(--p-12);
    --p-training-modal-edit-btn: 0;
    --pt-calendar-page-main-content: 0;
    --pt-calendar-page-main-content-tablet: 3px;
    --px-drawer-body: var(--p-32);
    --p-side-panel-close-btn: 0;
    --px-side-panel-drawer-mobile-l: var(--p-16);
    --p-exercises-form-btns-wrapper: 7px var(--p-12);
    --p-exercises-form-btns-wrapper-edit-mode: 7px 45px 7px 26px;
    --p-exercises-form-btn: 2px 0;
    --p-exercise-input: 0 13px;
    --p-exercise-x: 0 2px;
    --p-exercise-text: 4.5px 9px 4.5px 7px;
    --p-card-head-card-head-title: 0;
    --px-common-main-content-mobile-l: 0;
    --pb-common-main-content: 0;
    --p-not-found-header-content: 0;
    --p-profile-header-tablet: var(--p-16) var(--p-24) var(--p-18);
    --p-settings-header-btn: 0;
    --p-settings-content-tariff-card-head-wrapper: 0 var(--p-24);
    --p-settings-content-tariff-link-button: 0;
    --p-settings-content-tariffs-card-body-mobile-l: var(--p-12) 0;
    --p-settings-content-tariffs-side-panel-footer: var(--p-12) var(--p-32);
    --p-settings-content-tariffs-side-panel-pro-tariff-active-title: 14px 0;
    --px-settings-content-tariffs-side-panel-footer-mobile-l: var(--p-18);
    --p-settings-content-tariffs-side-panel-pro-tariff-active-title-mobile-l: var(--p-16) 0;
    --p-settings-content-modal-success-result: var(--p-64) 44px var(--p-56);
    --p-settings-content-modal-success-title-mobile: 0 38px;
    --p-settings-content-modal-success-result-mobile: var(--p-32) var(--p-24);
    --p-settings-content-modal-success-result-extra-mobile: 0 var(--p-16);
    --pt-settings-content-side-panel-body: 48px;
    --p-tariff-label: 2px 0;
    --p-tariffs-side-panel-list: 0;
    --pr-tariffs-side-panel-list: 16px;
    --pt-settings-content-side-panel-body-mobile-l: var(--p-24);
    --p-tariff-selection-form-radio-span: 0;
    --p-not-found-content-result-mobile: 44px 0;
    --p-content-wrapper: var(--p-24);
    --px-content-wrapper-mobile-l: var(--p-16);
    --p-profile-content-date-picker: var(--p-8) var(--p-12);
    --p-profile-upload-form-item-label-mobile-l: 0;
    --p-profile-upload-btn-mobile-l: 10px 26px;
}
