:root {
    --app-max-w: 1440px;
    --main-page-content-max-w: 752px;
    --auth-card-max-w: 540px;
    --feedback-card-avatar-w: 174px;
    --main-page-logo-max-h: 64px;
    --menu-item-h: 42px;
    --blur-value: 12px;
    --verification-input-max-w: 300px;
    --verification-input-width: 40px;
    --verification-input-height: var(--verification-input-width);
    --rounded-sm: 2px;
    --rounded-top-24: 24px 24px 0 0;
    --rounded-bottom-6: 0 0 6px 6px;
    --rounded-right-8: 8px 0 0 8px;
    --rounded-8: 8px;
    --border-1: 1px;
    --border-none: 0;
    --rounded-none: 0;
    --result-icon-width: 80px;
    --result-icon-height: var(--result-icon-width);
    --gap-x-8: 8px;
    --gap-4: 4px;
    --gap-6: 6px;
    --gap-8: 8px;
    --gap-10: 10px;
    --gap-12: 12px;
    --gap-14: 14px;
    --gap-16: 16px;
    --gap-18: 18px;
    --gap-20: 20px;
    --gap-24: 24px;
    --gap-26: 26px;
    --gap-32: 32px;
    --header-btn-w-tablet: 32px;
    --header-btn-h-tablet: var(--header-btn-w-tablet);
    --loader-w: 150px;
    --loader-h: var(--loader-w);
    --empty-feedbacks-subtitle-max-w: 521px;
    --feedback-form-textarea-min-h: 46px;
    --modal-close-icon-wh: 64px;
    --modal-close-icon-tablet-wh: 48px;
    --modal-lr-offset: 32px;
    --h-40: 40px;
    --h-30: 30px;
    --h-28: 28px;
    --h-20: 20px;
    --h-picker-calenadar-date-content: 119px;
    --mw-picker-cell-mobile-l: 37px;
    --w-training-modal: 264px;
    --mh-training-card-body: 84px;
    --w-training-modal-icon-btn: 20px;
    --h-training-modal-icon-btn: 20px;
    --mh-training-modal-exercises-wrapper: 200px;
    --h-side-panel-content-head: 42px;
    --w-side-panel-close-btn: 14px;
    --h-side-panel-close-btn: 14px;
    --mw-settings-container: 505px;
    --mw-settings-content-switch-field-text-mobile-l: 176px;
    --mw-settings-content-tariffs-card: 240px;
    --h-settings-content-tariffs-card-body: 95px;
    --mw-settings-content-tariffs-tariff-status-text: 72px;
    --mw-settings-content-tariffs-card-mobile-l: 312px;
    --h-settings-content-tariffs-card-body-mobile-l: 64px;
    --w-tariffs-side-panel-x: 63px;
    --h-tariffs-side-panel-x: 67px;
    --w-tariff-label: 56px;
    --h-tariff-selection-item: 32px;
    --mw-tariffs-side-panel-comparison-item-icons-wrapper: 88px;
    --mw-profile-form: 480px;
    --mw-profile-alert: 395px;
    --mw-profile-alert-mobile-l: 312px;
    --w-profile-upload-form-item: 112px;
    --h-profile-upload-form-item: 112px;
    --h-profile-upload-progress: 14px;
    --w-profile-upload-progress: 87px;

}
