:root {
    --font-family: 'Inter', sans-serif;
    --text-8: 8px;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;
    --line-height-67: 67px;
    --line-height-28: 28px;
    --line-height-26: 26px;
    --line-height-24: 24px;
    --line-height-23: 23px;
    --line-height-20: 20px;
    --line-height-18: 18px;
    --line-height-16: 16px;
    --line-height-1: 1;
    --line-height: 1.3;
    --verification-input-line-height: 40px;
    --menu-item-line-height: 42px;
    --feedback-title-word-spacing: 10000px;
    --date-letter-spacing: -1px;
}
