.title:global(.ant-typography) {
    margin-bottom: var(--mb-settings-content-tariffs-title);
    font-weight: var(--font-medium);
}

.card:global(.ant-card) {
    width: 100%;
    max-width: var(--mw-settings-content-tariffs-card);
    box-shadow: var(--shadow-md);
}

.card :global(.ant-card-head-wrapper) {
    padding: var(--p-settings-content-tariff-card-head-wrapper);
}

.linkButton:global(.ant-btn) {
    padding: var(--p-settings-content-tariff-link-button);
}

.card :global(.ant-card-body) {
    height: var(--h-settings-content-tariffs-card-body);
}

.tariffStatus {
    height: 100%;
}

.tariffStatusText:global(.ant-typography) {
    max-width: var(--mw-settings-content-tariffs-tariff-status-text);
    font-size: var(--text-base);
    font-weight: var(--font-medium);
    color: var(--primary-light-10);
    text-align: center;
}

.btn:global(.ant-btn) {
    font-size: var(--text-sm);
}

@media screen and (max-width: 575px) {
    .card:global(.ant-card) {
        max-width: var(--mw-settings-content-tariffs-card-mobile-l);
    }

    .card :global(.ant-card-body) {
        height: var(--h-settings-content-tariffs-card-body-mobile-l);
        padding: var(--p-settings-content-tariffs-card-body-mobile-l);
    }
}
