.anticon-calendar svg path:first-child {
    fill: var(--primary-light-9);
}

.anticon-idcard svg path:nth-child(2) {
    fill: transparent;
}

.anticon-idcard svg path:nth-child(3) {
    fill: var(--primary-light-9);
}

.ant-divider.ant-divider-horizontal {
    margin: 0;
}

.ant-menu.ant-menu-vertical {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: inherit;
    border-right: none;

    & .ant-menu-item {
        margin-top: 0;
        height: 42px;
        line-height: 42px;
    }

    & .ant-menu-item:not(:last-child) {
        margin-bottom: 16px;
    }

    & .ant-menu-item:nth-last-child(2) {
        padding: 0;
        margin: auto 0 0;
        height: 1px;
        pointer-events: none;
    }

    & .ant-menu-item:last-child {
        margin: 0;
        padding: 0 16px;

        & .ant-menu-item-icon + span {
            margin-left: 27px;
        }
    }
}
