.ant-menu-item .anticon-calendar svg path:first-child {
    fill: var(--primary-light-9);
}

.ant-menu-item .anticon-idcard svg path:nth-child(2) {
    fill: transparent;
}

.ant-menu-item .anticon-idcard svg path:nth-child(3) {
    fill: var(--primary-light-9);
}

.ant-divider.ant-divider-horizontal {
    margin: 0;
}

.ant-menu.ant-menu-vertical {

    
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    color: inherit;
    border-right: none;
}

.ant-menu.ant-menu-vertical .ant-menu-item {
    margin-top: 0;
    height: 42px;
    line-height: 42px;
}

.ant-menu.ant-menu-vertical .ant-menu-item:not(:last-child) {
    margin-bottom: 16px;
}

.ant-menu.ant-menu-vertical .ant-menu-item:nth-last-child(2) {
    padding: 0;
    margin: auto 0 0;
    height: 1px;
    pointer-events: none;
}

.ant-menu.ant-menu-vertical .ant-menu-item:last-child {
    margin: 0;
    padding: 0 16px;
}

.ant-menu.ant-menu-vertical .ant-menu-item:last-child .ant-menu-item-icon + span {
    margin-left: 27px;
}

@media screen and (max-width: 479px) {
    .ant-menu.ant-menu-vertical .ant-menu-item:nth-child(-n + 4) {
        margin-bottom: 8px;
    }

    .ant-menu.ant-menu-vertical .ant-menu-item,
    .ant-menu.ant-menu-vertical .ant-menu-item:last-child {
        padding-left: 8px;
        padding-right: 8px;
    }

    .ant-menu.ant-menu-vertical .ant-menu-item:last-child {
        text-align: center;
    }

    .ant-menu.ant-menu-vertical .ant-menu-title-content {
        margin: 0;
    }

    .ant-layout-sider .ant-menu-item .anticon,
    .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon {
        display: none;
    }

    .ant-menu.ant-menu-vertical .ant-menu-item:last-child .ant-menu-item-icon + span {
        margin-left: 0;
    }
}
