.drawer :global(.ant-drawer-content-wrapper) {
    box-shadow: var(--drawer-shadow);
}

.drawer :global(.ant-drawer-content),
.drawer :global(.ant-drawer-content-wrapper) {
    border-radius: var(--rounded-right-8);
}

.drawer :global(.ant-drawer-body) {
    padding-right: var(--px-drawer-body);
    padding-left: var(--px-drawer-body);
}

@media screen and (max-width: 576px) {
    .drawer :global(.ant-drawer-body) {
        padding-right: var(--px-side-panel-drawer-mobile-l);
        padding-left: var(--px-side-panel-drawer-mobile-l);
    }

    .drawer :global(.ant-drawer-content),
    .drawer :global(.ant-drawer-content-wrapper) {
        border-radius: var(--rounded-top-24);
    }
}
