.ant-layout-sider + .ant-layout,
.ant-layout-sider + .ant-layout .ant-layout-footer {
    background-color: transparent;
}

.ant-layout-sider + .ant-layout {
    & .ant-layout-header,
    & .ant-layout-content,
    & .ant-layout-footer {
        padding: 0 24px;
    }
}

.ant-layout-sider + .ant-layout .ant-layout-header {
    padding-top: 16px;
    padding-bottom: 16px;
    height: fit-content;
    color: inherit;
    line-height: inherit;
    background-color: var(--primary-light-1);
}

.ant-layout-sider + .ant-layout .ant-layout-footer {
    color: inherit;
}

@media screen and (max-width: 768px) {
    .ant-layout-sider + .ant-layout .ant-layout-content,
    .ant-layout-sider + .ant-layout .ant-layout-footer {
        padding: 0 16px;
    }
}
