.wrapper {
    min-width: var(--mw-achieviements-load-by-week-wrapper);
    width: fit-content;
}

.label:global(.ant-typography) {
    width: fit-content;
    letter-spacing: var(--date-letter-spacing);
}

.btn:global(.ant-btn) {
    width: var(--w-achieviements-load-by-week-btn);
    height: fit-content;
    padding: var(--p-achieviements-load-by-week-btn);
    margin: var(--m-achieviements-load-by-week-btn);
}

.btn:global(
        .ant-btn-text:not(.ant-upload-list-item-card-actions-btn):not([disabled]):not(
                .ant-btn-icon-only
            )
    ):active {
    background-color: inherit;
}

@media screen and (max-width: 767px) {
    .list {
        margin-top: var(--mt-achieviements-load-by-week-list-tablet);
    }

    .listEmpty {
        margin-top: var(--mt-achieviements-load-by-week-list-empty-tablet);
    }

    .label:global(.ant-typography) {
        width: var(--w-achieviements-load-by-week-label-tablet);
    }
}
