.ant-image {
    & .ant-image-img {
        margin: 30px 0 50px;
        padding: 14px 46px 17px 29px;
        max-height: 64px;
    }
}

.ant-layout-sider-collapsed {
    & .ant-image-img {
        padding: 18px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .ant-image .ant-image-img {
        padding: 16px 17px;
        margin: 0 0 16px;
    }
}
