.logo:global(.ant-image-img) {
    padding: var(--p-auth-logo);
    margin-bottom: var(--mb-auth-logo);
}

.tabs:global(.ant-tabs):global(.ant-tabs-large) :global(.ant-tabs-tab) {
    justify-content: center;
    flex: 1;
}

.tabs :global(.ant-tabs-nav-list) {
    width: 100%;
}

.tabs:global(.ant-tabs) :global(.ant-tabs-tab-btn) {
    flex: 1;
    
}

.link {
    display: inline-block;
    width: 100%;
    padding: var(--p-auth-link);
    color: inherit;
    text-align: center;
}

@media screen and (max-width: 835px) {
    .space {
        margin-bottom: var(--mb-auth-space-tablet-l);
    }
}

@media screen and (max-width: 450px) {
    .space {
        margin-bottom: var(--mb-auth-space-mobile-l);
    }

    .logo:global(.ant-image-img) {
        padding: var(--p-auth-logo-mobile-l);
        margin-bottom: var(--mb-auth-logo-mobile-l);
    }

    .tabs:global(.ant-tabs) :global(.ant-tabs-nav) :global(.ant-tabs-tab) {
        font-size: var(--text-sm);
    }

    .link {
        padding: var(--p-auth-link-mobile-l);
    }
}
