.uploadFormItem:global(.ant-form-item) {
    flex-basis: 112px;
    height: 112px;
}

.uploadText:global(.ant-typography) {
    margin-bottom: 0;
    color: var(--character-light-secondary-45);
}

.progress:global(.ant-progress) {
    height: 14px;
    width: 87px;
}

.uploadLabel {
    font-size: var(--text-xs);
}

.uploadFormItem :global(.ant-upload-list-item) {
    margin-top: 0;
}

@media screen and (max-width: 575px) {
    .uploadFormItem:global(.ant-form-item) {
        flex-basis: auto;
        height: auto;
        margin-bottom: 0;
    }

    .uploadFormItem :global(.ant-form-item-row) {
        flex-wrap: nowrap;
        gap: 16px;
    }

    .uploadFormItem:global(.ant-form-item) :global(.ant-form-item-label) {
        padding: 0;
        white-space: nowrap;
    }

    .uploadFormItem :global(.ant-upload-list-item-name) {
        visibility: hidden;
    }

    .uploadBtn:global(.ant-btn) {
        padding: 10px 26px;
        font-size: var(--text-sm);
    }

    .uploadBtn :global(.anticon) + span {
        margin-left: 10px;
    }
}
