.mainContent:global(.ant-layout-content) {
    padding-bottom: 0;
}

@media screen and (min-width: 768px) {
    .header:global(.ant-layout-header) {
        padding: 16px 24px 18px;
    }
}

@media screen and (max-width: 575px) {
    .mainContent:global(.ant-layout-content) {
        padding-left: 0;
        padding-right: 0;
    }
}
