.listItem {
    position: relative;
    height: var(--h-32);
}

.editBtn:global(.ant-btn),
.btn:global(.ant-btn) {
    width: fit-content;
    height: fit-content;
    padding: var(--p-workouts-trainings-list-btn);
}

.listItem .period .editBtn:global(.ant-btn:hover),
.listItem .trainingName .btn:global(.ant-btn:hover),
.listItem .period .editBtn:global(.ant-btn:focus),
.listItem .trainingName.btn:global(.ant-btn:focus),
.listItem .period .editBtn:global(.ant-btn:active),
.listItem .trainingName .btn:global(.ant-btn:active) {
    background-color: transparent;
}

.editBtn:global(.ant-btn),
.editBtn:global(.ant-btn.ant-btn-icon-only:not([disabled]):hover),
.editBtn:global(.ant-btn.ant-btn-icon-only:not([disabled]):focus) {
    color: var(--primary-light-6);
}

.training {
    position: relative;
    flex-basis: var(--w-workouts-trainings-table-training-text);
}

.period {
    flex-basis: calc(
        var(--mw-workouts-trainings-table) - var(--w-workouts-trainings-table-training-text) -
            var(--gap-12)
    );
}

.periodText {
    width: var(--w-workouts-trainings-table-sort-btn);
}

.trainingName {
    position: relative;
    flex-grow: 1;
}

.training,
.trainingName,
.badgeWrapper,
.period,
.periodTextWrapper {
    height: 100%;
}

.badgeWrapper,
.periodTextWrapper,
.trainingName {
    border-bottom: var(--border-1) solid var(--character-light-dividers);
}

@media screen and (max-width: 450px) {
    .training {
        min-width: var(--mw-workouts-trainings-table-trainings-text-mobile);
    }

    .period {
        flex-shrink: 0;
        flex-basis: var(--w-workouts-trainings-table-sort-btn-mobile);
    }

    .periodText {
        width: auto;
    }
}
