.list {
    padding: 0;
    margin: 0;
}

.listItem {
    position: relative;
    height: 32px;
}

.editBtn:global(.ant-btn),
.btn:global(.ant-btn) {
    width: fit-content;
    height: fit-content;
    padding: 0;
}

.editBtn:global(.ant-btn:hover),
.btn:global(.ant-btn:hover),
.editBtn:global(.ant-btn:focus),
.btn:global(.ant-btn:focus) {
    background-color: transparent;
}

.editBtn:global(.ant-btn),
.editBtn:global(.ant-btn.ant-btn-icon-only:not([disabled]):hover) {
    color: var(--primary-light-6);
}

.training {
    position: relative;
    flex-basis: 259px;
}

.period {
    flex-basis: calc(555px - 259px - 12px);
}

.periodText {
    width: 240px;
}

.trainingName {
    position: relative;
    flex-grow: 1;
}

.training,
.trainingName,
.badgeWrapper,
.period,
.periodTextWrapper {
    height: 100%;
}

.badgeWrapper,
.periodTextWrapper,
.trainingName {
    border-bottom: var(--border-1) solid var(--character-light-dividers);
}

@media screen and (max-width: 450px) {
    .training {
        min-width: 114px;
    }

    .period {
        flex-shrink: 0;
        flex-basis: 188px;
    }

    .periodText {
        width: auto;
    }
}
