.contentWrapper {
    padding-bottom: var( --pb-workouts-content-wrapper);
}

.tabs:global(.ant-tabs) :global(.ant-tabs-nav) {
    margin: var(--m-workouts-tabs-nav);
}

.tabs:global(.ant-tabs) :global(.ant-tabs-nav-list) {
    flex-grow: 1;
    justify-content: space-between;
    margin-right: var(--mr-workouts-tabs-nav-list);
    gap: var(--gap-74);
}

.tabs :global(.ant-tabs-tab-btn) {
    font-size: var(--text-2xl);
    font-weight: var(--font-medium);
}

.tabs:global(.ant-tabs-top)
    :global(.ant-tabs-nav .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-right:after),
.tabs:global(.ant-tabs-top)
    :global(.ant-tabs-nav .ant-tabs-nav-wrap.ant-tabs-nav-wrap-ping-left:before) {
    opacity: 0;
}

.badge:global(.ant-badge) {
    margin-left: var(--ml-workouts-badge);
}

.badge:global(.ant-badge) :global(.ant-badge-count) {
    width: var(--w-workouts-badge-count);
    height: var(--h-workouts-badge-count);
    line-height: var(--line-height-16);
}

@media screen and (max-width: 835px) {
    .tabs:global(.ant-tabs) :global(.ant-tabs-nav) {
        margin: var(--m-workouts-tabs-nav-tablet-l);
    }

    .tabs :global(.ant-tabs-tab-btn) {
        padding: var(--p-workouts-tabs-tab-btn-tablet-l);
        font-size: var(--text-sm);
        font-weight: var(--font-medium);
    }
}

@media screen and (max-width: 575px) {
    .contentWrapper {
        padding: var(--p-workouts-content-wrapper-mobile-l);
    }

    .tabs:global(.ant-tabs) :global(.ant-tabs-nav) {
        margin: var(--m-workouts-tabs-nav-mobile-l);
    }

    .tabs:global(.ant-tabs) :global(.ant-tabs-nav-list) {
        gap: var(--gap-8);
    }
}
