.contentWrapper {
    padding-bottom: var(--pb-workouts-content-wrapper);
}

.badge:global(.ant-badge) {
    margin-left: var(--ml-workouts-badge);
}

.badge:global(.ant-badge) :global(.ant-badge-count) {
    width: var(--w-workouts-badge-count);
    height: var(--h-workouts-badge-count);
    line-height: var(--line-height-16);
}

@media screen and (max-width: 575px) {
    .contentWrapper {
        padding: var(--p-page-content-content-wrapper-mobile-l);
    }
}
