.list {
    flex-wrap: wrap;
    padding: 24px 0;
}

.card {
    width: 156px;
    padding: 24px 20px;
    text-align: center;
    border: var(--border-1) solid var(--character-light-dividers);
    border-radius: var(--rounded-2);
}

.title:global(.ant-typography) {
    margin: 0;
    white-space: nowrap;
}

.text:global(.ant-typography) {
    color: var(--character-light-secondary-45);
    white-space: pre-wrap;
}

@media screen and (max-width: 835px) {
    .list {
        max-width: calc(156px * 2 + var(--gap-16));
        padding: 0;
    }

    .card {
        border: none;
        box-shadow: var(--shadow-md);
    }
}

@media screen and (max-width: 575px) {
    .card {
        width: 100%;
        padding: 7.5px 16px;
    }
}
