@import url('./styles/inputs.module.css');

:global(.ant-breadcrumb),
:global(.ant-breadcrumb) li,
:global(.ant-breadcrumb-link),
:global(.ant-breadcrumb-separator),
:global(.ant-typography),
:global(h1.ant-typography),
:global(h3.ant-typography),
:global(.ant-card),
:global(.ant-card-head),
:global(.ant-input-group-addon),
:global(.ant-input),
:global(.ant-tabs),
:global(.ant-checkbox-wrapper) {
    color: var(--character-light-title-85);
    line-height: var(--line-height);
}

:global(.ant-layout-header),
:global(.ant-space),
:global(.ant-btn),
:global(.ant-input),
a {
    line-height: var(--line-height);
}

:global(.ant-input)[type='password'] {
    color: rgba(0, 0, 0, 0.65);
}

:global(.ant-menu),
:global(.ant-btn-text) {
    color: var(--character-light-title-85);
}

:global(.ant-btn-link),
:global(.ant-tabs-tab),
a {
    &:hover,
    &:focus {
        color: var(--primary-light-6);
    }

    &:active {
        color: var(--primary-light-7);
    }
}

:global(.ant-btn-primary) {
    background-color: var(--primary-light-6);
    border-color: var(--primary-light-6);

    &:hover,
    &:focus {
        background-color: var(--primary-light-4);
        border-color: var(--primary-light-5);
    }

    &:active {
        background-color: var(--primary-light-7);
        border-color: var(--primary-light-7);
    }
}

:global(.ant-btn-default) {
    &:hover,
    &:focus {
        color: var(--primary-light-5);
        border-color: var(--primary-light-5);
    }

    &:active {
        color: var(--primary-light-7);
        border-color: var(--primary-light-7);
    }
}

:global(.ant-btn-link) {
    height: fit-content;
    color: var(--primary-light-6);
}

:global(.ant-btn-text) {
    &:hover,
    &:active,
    &:focus {
        color: var(--character-light-title-85);
    }

    &:hover,
    &:focus {
        background: var(--character-light-table-header);
    }

    &:active {
        background: var(--character-light-background);
    }
}

:global(.ant-card) {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
}

:global(.anticon-idcard) svg path:nth-child(2),
:global(.anticon-warning) svg path:last-child {
    fill: transparent;
}

:global(.ant-divider-horizontal) {
    margin: 0;
}

:global(.ant-card-head),
:global(.ant-card-head-title) {
    padding: 0;
}
