@import url('./styles/variables/margins.css');
@import url('./styles/variables/paddings.css');
@import url('./styles/variables/typography.css');
@import url('./styles/variables/colors.css');
@import url('./styles/variables/sizes.css');
@import url('./styles/variables/durations.css');
@import url('./styles/variables/shadows.css');
@import url('./styles/variables/drop-shadows.css');
@import url('./styles/variables/layout.css');

html,
body,
#root {
    height: 100%;
}

body {
    font-family: var(--font-family);
}

ul {
    padding: 0;
    margin: 0;
}

@keyframes waveEffect {
    100% {
        box-shadow: var(--wave-effect-shadow);
    }
}
