:root {
    /* Margins */
    --m-logo: 30px 0 50px;
    --m-logo-tablet: 0 0 16px;
    --mt-menu-item: 0;
    --mb-menu-item: 16px;
    --m-last-menu-item: 0;
    --m-menu-item-divider: auto 0 0;
    --ml-last-menu-item-title: 27px;
    --m-menu-item-tablet: 8px;
    --m-menu-item-title-tablet: 0;
    --ml-last-menu-item-title-tablet: 0;
    --m-app-layout: 0 auto;
    --mb-footer-space: 42px;
    --m-footer-card-meta: 0;
    --mr-footer-card-meta-detail: 25px;
    --mr-footer-card-meta-detail-tablet: 0;
    --m-header-title: 6px 0;
    --mb-breadcrumb: 8px;
    --ml-header-btn-content: 10px;
    --ml-header-btn-content-tablet-lg: 0;
    --mb-breadcrumb-tablet: 0;
    --m-main-page-content-space: 24px 0;

    --mb-auth-space-tablet-l: 52px;
    --mb-auth-space-mobile-l: 8px;
    --m-auth-card-mobile-l: 0 16px;
    --mb-auth-card-head: 0;
    --m-auth-card-body: 0 53px;
    --m-auth-card-body-mobile-l: 0;
    --mb-auth-logo: 48px;
    --mb-auth-logo-mobile-l: 32px;
    --mb-auth-tabs: 24px;
    --m-auth-tab: 0;
    --mb-auth-form: calc(174px - var(--py-auth-card));
    --mb-auth-form-mobile-l: calc(124px - var(--py-auth-card-mobile-l));
    --mb-auth-form-item-email: 32px;
    --mb-auth-form-item-password: 54px;
    --mb-auth-form-login-btn: 16px;

    /* Paddings */
    --p-logo: 14px 46px 17px 29px;
    --p-logo-cropped: 18px;
    --p-logo-tablet: 16px 17px;
    --px-last-menu-item: 0 16px;
    --p-menu-item-divider: 0;
    --pl-menu-item-tablet: 8px;
    --pr-menu-item-tablet: var(--pl-menu-item-tablet);
    --p-trigger: 26px 3px;
    --p-trigger-tablet: 17px 9px;
    --p-footer-card-body: 0;
    --p-footer-card-meta: 8px 24px;
    --p-footer-link-btn: 10px 15px;
    --p-footer-card-link-btn: 0;
    --p-footer-card-action-btn: 7px 11px;
    --pt-header-btn: 0;
    --pb-header-btn: var(--pt-header-btn);
    --pl-header-btn-tablet-lg: 7px;
    --p-header-btn-tablet: 0;
    --p-main-page-content-card-body: 16px;
    --p-main-page-content-action-card-head-wrapper: 12px 24px;
    --p-main-page-content-action-card-body: 12px 0;
    --pt-main-page-content-action-card-btn-tablet-lg: 6px;
    --pb-main-page-content-action-card-btn-tablet-lg: var(
        --pt-main-page-content-action-card-btn-tablet-lg
    );
    --p-layout: 0 24px;
    --pt-layout-header: 16px;
    --pb-layout-header: var(--pt-layout-header);
    --p-layout-tablet: 0 16px;

    --px-auth-card: 32px;
    --py-auth-card: 64px;
    --p-auth-card: var(--py-auth-card) var(--px-auth-card);
    --px-auth-card-mobile-l: 16px;
    --py-auth-card-mobile-l: 32px;
    --p-auth-card-mobile-l: var(--py-auth-card-mobile-l) var(--px-auth-card-mobile-l);
    --p-auth-card-body: 0;
    --p-auth-logo: 0 calc(115px - var(--px-auth-card));
    --p-auth-logo-mobile-l: 0 calc(62.5px - var(--px-auth-card-mobile-l));
    --p-auth-tab: 0;
    --p-auth-link: 11px 0;
    --p-auth-link-mobile-l: 14px 0;
    --p-auth-input: 10px 12px;
    --p-auth-input-group-addon: 4px 12px;
    --p-auth-form-forgot-btn: 0;
    --p-auth-form-forgot-btn-mobile-l: 0 7px;


    /* Typography */
    --font-family: 'Inter', sans-serif;
    --line-height: 1.3;

    /* Colors */
    --character-light-title-85: #262626;
    --character-light-secondary-45: #8c8c8c;
    --character-light-border: #d9d9d9;
    --character-light-background: #f5f5f5;
    --character-light-table-header: #fafafa;
    --character-light-primary-inverse: #fff;
    --character-light-error: #ff4d4f;
    --primary-light-1: #f0f5ff;
    --primary-light-4: #85a5ff;
    --primary-light-5: #597ef7;
    --primary-light-6: #2f54eb;
    --primary-light-7: #1d39c4;
    --primary-light-9: #061178;
    --neutral-gray-7: #8c8c8c;
    --blue-1: rgba(121, 156, 212, 0.502);
    --input-shadow: 0 0 0 2px rgba(47, 84, 235, 0.2);
}

html,
body,
#root {
    height: 100%;
}

body {
    font-family: var(--font-family);
}

@keyframes waveEffect {
    100% {
        box-shadow: 0 0 0 8px var(--primary-light-5);
    }
}
