.container {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    margin: 0 auto;
}

.input,
.inputError {
    width: 40px;
    height: 40px;
    font-size: 14px;
    color: inherit;
    line-height: 40px;
    background: var(--character-light-primary-inverse);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.input {
    border-color: var(--character-light-border);
}

.inputError {
    border-color: var(--character-light-error);
}

.inputSelected {
    border-color: var(--primary-light-5);
    box-shadow: var(--input-shadow);
}

.inputSelectedError {
    border-color: var(--character-light-error);
    box-shadow: var(--input-shadow-error);
}

@media screen and (max-width: 450px) {
    .container {
        padding: 0 10px;
    }
}
