.drawer :global(.ant-drawer-content-wrapper) {
    box-shadow: var(--drawer-shadow);
}

.drawer :global(.ant-drawer-content),
.drawer :global(.ant-drawer-content-wrapper) {
    border-radius: 8px 0 0 8px;
}

.drawer :global(.ant-drawer-body) {
    padding-right: 32px;
    padding-left: 32px;
}

.head {
    margin-bottom: 16px;
}

.title:global(.ant-typography) {
    flex-grow: 1;
    margin: 0;
    font-weight: var(--font-medium);
}

.closeBtn:global(.ant-btn) {
    width: 14px;
    height: 14px;
    padding: 0;
}

.badge :global(.ant-badge-status-text),
.date {
    font-weight: var(--font-medium);
    color: var(--character-light-secondary-45);
}

@media screen and (max-width: 576px) {
    .drawer :global(.ant-drawer-body) {
        padding-right: 16px;
        padding-left: 16px;
    }

    .drawer :global(.ant-drawer-content),
    .drawer :global(.ant-drawer-content-wrapper) {
        border-radius: 24px 24px 0 0;
    }
}
