.form:global(.ant-form) {
    margin-bottom: var(--mb-auth-form);
}

.input :global(.ant-input):global(.ant-input-lg) {
    font-size: 14px;
}

.input :global(.ant-input) {
    padding: var(--p-auth-input);
}

.input :global(.ant-input-group-addon) {
    padding: var(--p-auth-input-group-addon);
}

.email:global(.ant-form-item) {
    margin-bottom: var(--mb-auth-form-item-email);
}

.password:global(.ant-form-item) {
    margin-bottom: var(--mb-auth-form-item-password);
}

.checkArea:global(.ant-form-item) :global(.ant-form-item-control-input) {
    min-height: fit-content;
}

.checkArea:global(.ant-form-item) :global(.ant-form-item-control-input-content) {
    display: flex;
    justify-content: space-between;
}

.forgotPasswordBtn:global(.ant-btn) {
    padding: var(--p-auth-form-forgot-btn);
}

.loginBtnFormItem:global(.ant-form-item) {
    margin-bottom: var(--mb-auth-form-login-btn);
}

@media screen and (max-width: 450px) {
    .form:global(.ant-form) {
        margin-bottom: var(--mb-auth-form-mobile-l);
    }

    .btn:global(.ant-btn),
    .forgotPasswordBtn:global(.ant-btn) {
        font-size: 14px;
    }

    .btn:global(.ant-btn) :global(.anticon) {
        display: none;
    }

    .forgotPasswordBtn:global(.ant-btn) {
        padding: var(--p-auth-form-forgot-btn-mobile-l);
    }
}
